*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(213, 225,239);
}
#conteiner{
  width: 16%;
  margin: 5% auto;
  height: 450px;
  background-color: white;
  border-radius: 20px;
}
.foto{
  margin: 5% 4%;
  border-radius: 10px;
  width: 91.5%;
}

h3{
  width: auto;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10%;
  padding:  0 10px;
}
p{
  opacity: 0.4;
  padding: 0 10px;
  text-align: center;
  width: auto;
}
@media (max-width: 576px){
      #conteiner{
        width: 95%;
      }   
}
@media (min-width: 224px){
      #conteiner{
        width: 50%;
      }
}
@media (min-width: 640px){
  #conteiner{
    width: 35%;
  }
}
@media (min-width: 940px){
  #conteiner{
    width: 20%
  }
}
@media (min-width: 1100px){
  #conteiner{
    width: 16%;
  }
}

