*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(213, 225,239);
}
#conteiner{
  width: 16%;
  margin: 5% auto;
  height: 450px;
  background-color: white;
  border-radius: 20px;
}
.foto{
  margin: 5% 1.5%;
  border-radius: 10px;
  width: 91.5%;
}

h3{
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10%;
  padding:  0 10px;
}
p{
  opacity: 0.4;
  padding: 0 10px;
  text-align: center;
}

